

.hello-nix-box{
	font-family: sans-serif;
	font-size: 35px;
}

.hello-class{
	color: #696969;
}

.nix-class{
	color: #A52A2A;
	font-weight: bold;
}

.education{
	color: #1E90FF;
	font-weight: bold;
}